
<head>
    <link rel="stylesheet" href="/css/style-aboutme.css">
</head>
<body>

<main>
     <section class="block-1">
        <div class="block-text1">
            <h1>
                About <span>Me</span>
            </h1>
            <p>
                My name is João Victor,i'm from Brazil
                 and i'm a IT student and a junior developer.
            </p>
        </div>
        <div class="block-text2">
            <ul>
                <h4>Knowledge of:</h4>
                <li>FrontEnd languages(html,css,JS)</li>
                <li>NodeJS</li>
                <li>ReactJS</li>
                <li>MongoDB</li>
                <li>MySQL</li>
            </ul>
        </div>
     </section>
</main>
   
