
<head>
    <link rel="stylesheet" href="/css/style-account.css">
</head>
    <div class="block1">
        <div class="form1">
            <h1>Sign In:</h1>
            <form action="/Account" method="POST">
                <label class="email" for="email"><span>Email:</span></label>
                    <input  type="email" name="email"><br><br><b><br><br></b>
                <label for="password">Password:</label>
                    <input type="password" name="password"><br>
                <button>Sign In</button><br>
                <a href="/CreatingAccount">Create an account</a>

            </form>
        </div>
    </div>