
<head>
    <link rel="stylesheet" href="/css/createAccount.css">
</head>
{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<body>
    <div class="block1">
        <div class="form1">
            <h1>Creating Account:</h1>
            <form action="/CreatingAccount" method="POST">
                <label for="name1" >First name:</label>
                    <input type="text" name="firstName"><br><br><br>
                <label for="name2">Last name:</label>
                    <input type="text" name="lastName"><br><br><br>
                <label class="email" for="email"><span>Email:</span></label>
                    <input  type="email" name="email"><br><br><br>
                <label for="password">Password:</label>
                    <input type="password" name="password"><br><br><br>
                <label for="password-2">Repeate your password:</label>
                    <input type="password" name="password2"><br>
                <button>Create</button><br>

            </form>
        </div>
    </div>