
<head>
    <link rel="stylesheet" href="css/style-download.css">
</head>
    
<main>
     <section class="block-1">
        <div class="block-text">
            <h1>
                Simplicity Meets <span>Power</span>
            </h1>
            <p>
                Here you can download the Robo  3T
            </p>
            <div class="download-button">
                <a href="#">Download Robo 3T</a>
            </div>
        </div>
            <p class="thankful">
            This website was developed by João Victor,as a training. 
            If you want to talk to him go to Linkedin and search for 
            "João Victor Intern at Rioprevidencia" or call this number +55 (21)976493658. <br>
            Thank you for viewing my website and have a good day!
            </p>
     </section> 
</main>
   