<head><link rel="stylesheet" href="css/style-site.css">
</head>

<main>
     <section class="main__first--content">
            <div class="block-text1">
                <h1>
                    Simplicity
                    <br>
                    meets
                    <br>
                    <span>Power</span>
                </h1>
                <p>
                    This site it's a example made by a student
                    and must not be taken seriously.
                </p>
            </div>
            
        <div class="block-2">
             <h6>Robo 3T</h6>
            <ul>
                <li>Migrate databases & relations between SQL & MongoDB</li>
                <li>Auto-complete queries with IntelliShell</li>
                <li>Drag & drop fields to visually build queries</li>
                <li>Use SQL to query MongoDB</li>
                <li>Build aggregation queries stage by stage</li>
            </ul>
        </div>
     </section>

    <section class="download-button">
        <a href="/download"><button type="submit">Download Robo 3T</button></a>
    </section>

    <section class="main-text">
        <p>
        This website was developed by João Victor,as a training. 
        If you want to talk to him go to Linkedin and search for 
        "João Victor Intern at Rioprevidencia" <br> or  call this number +55 (21)976493658.<br><br><br>
        Thank you for viewing my website and have a good day!
        </p>
    </section>
    
</main>
   
 