
/*Body*/
body{
    height: 100vh;
    width: 100vw;
}

main{
    margin: 5rem 0;
}

.block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form1 h1{
    font-size: 1.8rem;
    color: #616060;
    margin: 2rem 0;
}

.form1 form{
    display: flex;
    flex-direction: column;
}

.form1 input{
    border-radius: 5px;
    width: 35vw;
    border:2px solid #47b648;
}

.email{
    color: #47b648;
}

.form1 button{
    background-color: #47b648;
    color: white;
    margin: 30px 0;
    padding: 10px;
    width: 20vw;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


@media(max-width:640px){
    .form1 h1{
        text-align: center;
    }

    .form1 label{
    text-align: center;
    }

    .form1 input{
        width: 100vw;
    }

    .form1 button{
        width: 70vw;
        margin: 30px auto;
    }

}