
/*Body*/
.block-text1{
    margin-top:300px;
    margin-left: 220px;
    font-size: 30px;
    color: #727272;
    
}
.block-text1 span{
    color:#47b648;
    font-weight: 600;
}
.block-text1 p{
    font-size: 23px;
}
.block-text2{
    margin-left: 900px;
    margin-top: -300px;
    
}
.block-text2 p{
    font-size: 20px;
    color:#47b648;
}
.block-text2 ol li{
    margin-top: 20px;
    font-size: 19px;
    color: #727272;   
    list-style: disc;
}
.download-button{
    text-align: center;
    margin-top: 250px;
    
}
.download-button button{
    color: white;
    background-color: #1fb622;
    border-radius: 10px;
    border: none;
    width: 350px;   
    height: 65px;
    font-size: 30px;

}
.download-button button:hover{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    cursor: pointer;
}
.main-text{
    margin-top: 260px;
    font-size: 18px;
    color: #3f3e3e;
    width: 900px;
    height: 500px;
    text-align: center;
    margin-left: 340px;
    
}

