body{
    margin: 0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1.42857143;
    max-height: 100%px;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
/*Menu*/
.menu ol li{
    display: inline;
    color: #727272;
    font-size: 18px;
    list-style-type: none;
}
.first-img img{
    margin-top: 60px;
    width: 44px;
    height: 44px;
    margin-left: 75px;
}
.second-ol{
    margin-top: -36px;
    margin-left: 88px;
}
.third-ol{
    height: 50px;
    margin-left: 968px;
    margin-top: -55px;
    width: 500px;
    
}
.third-ol li{
    margin-right: 65px;
}
.menu ol li:hover{
    opacity: 0.70;
}
/*Body*/
.form1{
    text-align: center;
    color: #727272;
    font-size: 24px;
    margin-top: 180px;
}
.form1 input{
    border-radius: 5px;
    border-color: white;
    width: 300px;
    height: 20px;
    border: solid;
    border-style: double;
}
.form1 h1{
    margin-top: -30px;
    margin-bottom: 50px;
    margin-right: 300px;
    font-size: 28px;
    color: #616060;
}
.email{
    color: #47b648;
}
.form1 button{
    background-color: #47b648;
    color: white;
    height: 50px;
    width: 250px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    font-size: 23px;
    cursor: pointer;
}